/*Styles for Calculator Side Bar*/
.calculatorsidebarframe {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  top: 0;
  left: 0;
  width: 290px;
  height: calc(100vh - 165px);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  z-index: 1;
  padding-bottom: 20px;
  padding-top: 10px;
  box-shadow: 2px 2px 6px gray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.headers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  padding-left: 35px;
  padding-bottom: 0px;
  width: calc(100% - 50px);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Nerko One", cursive;
}

.myPlateIcon {
  height: 100px;
  width: auto;
  margin-top: 15%;
  object-fit: cover;
}

.waterIcon {
  height: 100px;
  width: auto;
  margin-top: 4%;
  object-fit: cover;
}

.carbonIcon {
  height: 100px;
  width: auto;
  margin-top: 4%;
  object-fit: cover;
}

.starsIcon {
  height: 150px;
  width: auto;
  object-fit: cover;
  margin-top: -18%;
  margin-bottom: -25%;
}

.titleName {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.information{
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipContainer .tooltipText {
  visibility: hidden;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 5px;

  /* Positioning */
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-80%);

  /* Animation */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltipContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
