.pageContainer {
    height: 100vh;
    background-image: url("/outsideLong.png"); /* Set the background image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    margin-top: 50px;
}

.mainContent {
    text-align: center;
    margin-top: 20px; /* Adjusted to give space under the header */
}

.titleBox {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    border-radius: 25px;
    border: 3px solid #FFD400;
    padding: 40px;
    margin: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 20px; /* Adjust this margin to lift it higher */
}

.titleBox h2 {
    font-size: 60px;
    color: #333;
    margin: 0;
}

.startButton {
    background-color: #ff7f50; /* Orange color */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px; /* Adjust margin-top for the button */
    transition: background-color 0.3s ease;
}

.startButton:hover {
    background-color: #ff6347; /* Darker orange */
}

.startButton:active {
    background-color: rgb(227, 178, 88); /* Change to yellow when clicked */
}

.footer {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.footer p {
    font-size: 14px;
}
